/* Defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
:root {
    --body-dark-bg: hsl(0deg 0% 13%);
    --body-dark-bg-2nd: hsl(0deg, 0%, 17%);
    --body-dark-bg-3rd: hsl(0deg, 0%, 22%);
    --body-dark-color: hsl(0deg 0% 87%);
    --body-dark-color-2nd: hsl(0deg 0% 79%);
    --body-dark-color-3rd: hsl(0deg 0% 60%);
    --body-dark-color-disabled: hsl(0deg 0% 50%);
    --accent-color: #73b98c;
    --accent-color-dark: #3a694b;
    --error-color: #f44336;
    --easing: cubic-bezier(0.19, 1, 0.22, 1);
    --font: 'Source Sans Pro', sans-serif; /* weights to use: 400(r), 600(sb), 700(b)*/
    /* Litepicker dark */
    --litepicker-container-months-color-bg: var(--body-dark-bg-2nd);
    --litepicker-container-months-box-shadow-color: var(--body-dark-bg);
    --litepicker-month-header-color: var(--body-dark-color);
    --litepicker-button-prev-month-color: var(--body-dark-color-3rd);
    --litepicker-button-next-month-color: var(--body-dark-color-3rd);
    --litepicker-button-next-month-color: var(--body-dark-color-3rd);
    --litepicker-button-prev-month-color-hover: var(--body-dark-color);
    --litepicker-button-prev-month-color-hover: var(--body-dark-color);
    --litepicker-button-next-month-color-hover: var(--body-dark-color);
    --litepicker-month-weekday-color: var(--body-dark-color-3rd);
    --litepicker-day-color: var(--body-dark-color-3rd);
    --litepicker-day-color: var(--body-dark-color-3rd);
    --litepicker-day-color-hover: var(--accent-color);
    --litepicker-day-color-hover: var(--accent-color);
    --litepicker-is-today-color: var(--accent-color);
    --litepicker-is-end-color-bg: var(--accent-color-dark);
}

::placeholder {
    color: var(--body-dark-color-disabled);
}
::-webkit-scrollbar  {
    width:  6px;
    height:  8px;
}
::-webkit-scrollbar-thumb  {
    background-color:  var(--accent-color-dark);
    border-radius:  12em;
}
::-webkit-scrollbar-thumb:hover  {
    background-color:  var(--accent-color);
}

html  {
    font-size:  clamp(62.5%,  1vw,  62.5%);
}
@media screen and (max-width: 1110px) and (min-width: 992px)  {
    html  {
        font-size:  60%;
    }
}

body  {
    overflow-x:  hidden;
    --gutter: 1.5rem;
    font-family: var(--font);
    font-size: 1.6rem;
    line-height: 200%;
}

body.body--dark {
    color: var(--body-dark-color-2nd);
    background-color: var(--body-dark-bg);
}

/* Basic elements */

h1, h2, h3 {
    color: var(--body-dark-color);
    line-height: 100%;
    margin-bottom: 2.4rem;
}

h1 {
    font-size: 8rem; 
}
h2 {
    font-size: 6rem;
    font-weight: 300; 
}
h3 {
    font-size: 2rem;
    text-transform: uppercase; 
}

ul:not(.list) {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--body-dark-color-3rd);
    transition-duration: 0.6s;
    transition-timing-function: var(--easing);
    transition-property: filter;
}
a:hover {
    filter: brightness(1.2);
}
    a.primary {
        display: inline-block;
        padding: 1.5rem 2.5rem;
        background-color: var(--accent-color-dark);
        color: var(--body-dark-color);
        text-transform: uppercase;
        /* transition-property: filter; */
        text-shadow: none;
    }
    a.bottomline {
        position: relative;
        display: inline-block;
        margin: 2rem 0;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--body-dark-color-3rd);
    }
    a.bottomline::before,
    a.bottomline::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.1rem;
        display: block;
        width: 100%;
        height: 1px;
        background: var(--accent-color);
        transition: 1.1s var(--easing);
    }
    a.bottomline::before {
        transform: scaleX(0);
        transform-origin: left;
    }
    a.bottomline::after {
        transform-origin: right;
        transition-delay: 0.25s;
    }
    a.bottomline:hover::before {
        transform: scaleX(1);
        transition-delay: 0.25s;
    }
    a.bottomline:hover::after {
        transform: scaleX(0);
        transition-delay: 0s;
    }

    /* Reservation button */
    a.reservation {
        border: 1px solid var(--accent-color);
        border-radius: 50%;
        padding: 16px 22px;
        /* transition-property: filter; */
    }
    /* a.reservation:hover {
        filter: brightness(1.3);
    } */
button, input, optgroup, select, textarea {
    font-size: inherit;
}
button {
    font-size: inherit;
    cursor: pointer;
}
button[disabled] {
    cursor: default;
}

address {
    font-style: initial;
}

img {
    max-width: 100%;
    vertical-align: middle;
}
/*
.cursor  {
    opacity:  0;
}
body:hover .cursor  {
    opacity:  0;
}
.body--white .cursor__wrapper  {
    border-color:  hsl(0deg 0% 0% / 25%);
}
 .cursor,  .full-screen-nav__pointer-events-none,  .section--home-intro  {
    pointer-events:  none;
}
*/

/* Utility classes */

.main-wrapper  {
    padding: 8vw;
    overflow: hidden;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-md-12 {
    width: 100%;
}
.col-md-6 {
    width: 50%;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-3 {
    width: 25%;
}
.col-xl-6, 
.col-md-6,
.col-md-4,
.col-md-3 {
    flex: 0 0 auto;
    padding: 0 var(--gutter);
}
.grid {
    display: grid;
    /* grid-auto-columns: 1fr; */
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto auto; */
    /* grid-row-gap: 16px;
    grid-column-gap: 16px; */
}
.is--centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m-b {
    margin-bottom: 2.4rem;
}

/* Parallax */

.parallax {
    position: relative;
}
.parallax .pattern {
    position: absolute;
    z-index: -1;
    filter: invert(33%) sepia(30%) saturate(557%) hue-rotate(89deg) brightness(40%) contrast(91%);
    filter: invert(17%) sepia(0%) saturate(12%) hue-rotate(261deg) brightness(98%) contrast(83%);
    filter: invert(9%) sepia(8%) saturate(8%) hue-rotate(344deg) brightness(99%) contrast(81%);
}
.parallax .pattern.pizzas.one {
    top: 5vw;
    left: 15vw;
}
.parallax .pattern.pizzas.two {
    top: 15vw;
    left: 65vw;
}
.parallax .pattern.pizzas.three {
    bottom: 0vw;
    right: 45vw;
}

/* Header and menu */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.header_down {
    background-color: transparent;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
    transition: background-color var(--easing) 0.3s;
}
.header_down.sticky_top  {
    background-color: var(--body-dark-bg);
}

header .logo,
header .menu,
header .burger {
    transition: transform var(--easing) 0.7s;
    transform: translateY(-70px);
}
.header_down .logo,
.header_down .menu,
.header_down .burger {
    transform: translateY(0);
}

.menu  {
    display:  flex;
    justify-content:  center;
    align-items:  center;
    min-height:  100% !important;
    margin-left:  auto;
}
.menu ul  {
    height:  100% !important;
    display:  flex;
    justify-content:  center;
    align-items:  center;
    margin:  0;
    list-style:  none;
    padding:  0;
}
.menu ul li  {
    margin:  0 20px;
}
.menu ul li a  {
    color:  var(--body-dark-color);
    text-decoration:  none;
}
.mobile-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    overflow-y: auto;
    min-width: 30%;
    min-height: 100vh;
    padding: 5rem;
    background-color: var(--body-dark-bg-2nd);
    /* transform: translate(100%,0); */
    transition: right var(--easing) 0.7s;
    z-index: 1;
}
.mobile-menu--visible  {
    right: 0;
}

.mobile-menu_list {
    margin-bottom: 3.4rem;
}
.mobile-menu_list li  {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 200;
    /* text-transform: uppercase; */
    transition: transform var(--easing) 0.7s;
}
.mobile-menu_list li:hover {
    transform: translateX(1rem);
}

.mobile-menu_list li a  {
    color: var(--body-dark-color-2nd);  
}

.mobile-menu a.primary {
    width: fit-content;
    margin-bottom: 3rem;
}
.mobile-menu .small-divider {
    background-color: var(--body-dark-color-disabled);
    height: 1px;
}
.mobile-menu h3 {
    color: var(--body-dark-color-3rd);
}

/* .background_y  {
    background:  #212121 !important;
} */
.burger  {
    display:  inline-block;
    cursor:  pointer;
    z-index: 20;
    margin-left:  20px;
}
.line_1, .line_3  {
    width: 35px;
    height: 2px;
    background-color: var(--body-dark-color);
    margin: 7px 0;
    transition: 0.4s;
}
.change .line_1  {
    transform: rotate(-45deg) translate(-1px,  6px) ;
}
.change .line_3  {
    transform: rotate(45deg) translate(-1px,  -6px);
}

.overlay  {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    /* display: none; */
    transform: translateX(100%);
    opacity: 0;
    transition: opacity var(--easing) 0.7s;
}
.overlay--visible  {
    transform: translateX(0);
    opacity: 1;
}


/* Swiper */

body.is--home .slider, /* needed to avoid slider flick */
.main-wrapper /* fade-in effect */ { 
    opacity:0;
}

body.is--home .slider.--fade-in,
.main-wrapper.--fade-in {
    opacity: 1;
}

/* Fade in effects */
.main-wrapper {
    transform: translate3d(0,4rem,0);
    transition: all var(--easing) 0.4s 0.4s;
}
.main-wrapper.--fade-in {
    transform: translate3d(0,0,0);
}
.main-wrapper img {
    clip-path: inset(0 100% 0 0);
    transform: rotate(0.001deg);
    transition: all var(--easing) 0.6s;
}
.main-wrapper.--fade-in img {
    clip-path: inset(0 0 0 0);
}

/* Slider */
.bg-slider__container {
    overflow: visible;
    height: 100vh;
}
.plate-slider {
    position: relative;
    /* z-index: 1; */
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
.swiper-wrapper.is--bg-slider, .swiper-wrapper.is--plate-slider {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 0;
}
.swiper-wrapper.is--full-width-slider {
    display: flex;
    width: 100%}
.swiper-button__icon {
    position: relative;
    /* z-index: 1; */
}
.swiper-nav {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: 0;
    /* z-index: 20; */
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translate(0, -50%);
}
.swiper-slide.is--plate-slider {
    position: relative;
    display: flex;
    height: 100%;
    max-width: 57vw;
    min-width: 100vh;
    align-items: flex-start;
}
.swiper-slide.is--bg-slider {
    position: relative;
    max-width: 100vw;
    min-width: 100vw;
}
.swiper-slide.is--full-width-slider {
    width: 100%;
    height: 72rem;
    min-height: 72rem;
}
.plate-slider__image {
    height: 110vh;
    max-width: none;
    min-width: 72vw;
    /* margin-top: -8vh; */
    object-fit: contain;
}
.swiper-button {
    position: relative;
    top: auto;
    right: auto;
    bottom: 0;
    display: none;
    overflow: hidden;
    width: 6.4rem;
    height: 6.4rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transform: none;
    transition: .2s cubic-bezier(.175,  .885,  .32,  1.275);
    cursor: pointer;
}
.swiper-button.swiper-button--next {
    transform: translate(3.2rem, 0);
}
.swiper-button.swiper-button--prev {
    transform: translate(-3.2rem, 0);
}
.slider_buttons_  {
    width: 5%;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 88vh;
    right: 10vw;
}
.plate-slider__image-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.plate-slider__content-block { /* slider title link */
    position: absolute;
    /* z-index: 1; */
    /* display: flex; */
    overflow: hidden;
    width: auto;
    max-width: 150rem;
    margin-top: 35vh;
    /* margin-left: auto; */
    padding-left: 8rem;
    /* flex-direction: column;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    text-decoration: none; */
    text-shadow: 0 0 10px #444;
    color: var(--body-dark-color-2nd);
}
.plate-slider__content-block.is--detail-page {
    padding-left: 0;
    align-items: center;
}
.bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
    min-height: 100vh;
    min-width: 100vw;
    background-color: #68746b;
}

.bg-slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
.plate-slider__slider {
    overflow: visible;
    height: 100vh;
}
.plate-slider__title {
    color: hsl(0deg 0% 95%);
    font-size: 10rem;
    font-weight: 600;
    text-transform: uppercase;
}
.plate-slider__subtitle {
    font-size: 1.8rem;
    color: var(--body-dark-color-2nd);
}
.text--mask {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

/* .text--mask.is--restaurant {
    margin-bottom: -4rem;
} */
/* .text--mask.is--out {
    margin-top: -4em;
} */
.plate-slider__number {
    color: #c8c7c3;
    font-size: 2.4rem;
    line-height: 150%;
    font-weight: 300;
}
.plate-slider-pagination {
    position: absolute;
    left: 10vw;
    top: auto;
    right: 10vw;
    bottom: 4rem;
    z-index: 0;
    height: 1px;
    background-color: hsla(0, 0%, 100%, .5);
}
.swiper-pagination {
    width: 100%;
    height: 100%
}
.plate-slider-pagination__count-wrapper {
    position: absolute;
    left: 0;
    top: auto;
    right: auto;
    bottom: 2.4rem;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    color: #fff;
}
.plate-slider-pagination__number {
    opacity: .5;
    font-size: 1.4rem;
    line-height: 100%}
.plate-slider-pagination__number.is--active {
    margin-right: 1.2rem;
    opacity: 1;
    font-size: 2.4rem;
}

.swiper-pagination-progressbar.swiper-pagination-progressbar-fill  {
    background-color: var(--body-dark-color);
    height: 1px;
}
.swiper-pagination-progressbar.swiper-pagination  {
    height: 1px;
}
.swiper-button-disabled  {
    display: block;
}
.plate-slider__image  {
    transform: rotate(10deg);
    transition: all 1.2s ease-in-out;
}
.swiper-slide-active .plate-slider__image  {
    transform: rotate(0);
}
.plate-slider, .swiper-slide.is--plate-slider  {
    max-height: -webkit-fill-available;
}
.section--plate-slider  {
    max-height: -webkit-fill-available;
    overflow: hidden;
}
.plate-slider__btn-block {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    padding: 2rem 3rem;
}
span.plate-slider__btn {
    color: var(--body-dark-color);
    font-size: 2rem;
    margin-right: 1.5rem;
}
    .plate-slider__btn-icon {
    height: 2.4rem;
    transform: rotate(180deg);
}

/* All but homepage */
body:not(.is--home) .plate-slider__image {
    transform: rotate(0deg); 
}
body:not(.is--home) .change_right .plate-slider__image {
    transform: rotate(10deg); 
}
body:not(.is--home) .is--plate-slider {
    height: 100%;
}

.plate-slider__title,
.plate-slider__subtitle {
  transform: translateY(105%);
  transition: transform ease-in-out 0.7s;
}

.title_show {
  transform: translateY(0);
  transition: transform ease-in-out 0.7s, filter 0.3s;
}

.change_right {
  transform: translateX(120px);
  transition: transform ease-in-out 0.7s;
}

.plate-slider__image-wrapper {
  transition: transform ease-in-out 0.7s;
}

.is--home .plate-slider__title,
.is--home .plate-slider__subtitle,
.is--home .plate-slider__number, /* not used now */
.is--home .plate-slider__btn-block{
    transform: translateY(105%);
    transition: transform ease-in-out 0.7s;
}
.is--home .title_show .plate-slider__title,
.is--home .title_show .plate-slider__subtitle,
.is--home .title_show .plate-slider__number,
.is--home .title_show .plate-slider__btn-block{
    transform: translateY(0);
    transition: transform ease-in-out 0.7s;
}
.is--home .fade_out.swiper-slide-next,
.is--home .fade_out.swiper-slide-prev,
.is--home .fade_out.slider_buttons_,
.is--home .fade_out.plate-slider-pagination {
    opacity: 0;
    transition: opacity ease-in-out 0.7s;
}

.is--home .swiper-slide a {
    transition: opacity 0.6s ease-in-out, filter 0.6s var(--easing);
    opacity: 0;
}
.is--home .swiper-slide-active a {
    opacity: 1;
}

    /* Background Slider */
    .bg.is--01 {
        background-color: #212121;
    }
    .bg.is--03 {
        background-color: #526774;
        background-color: #31424c;
    }
    .bg.is--04 {
        background-color: #bfbdb1;
    }
    .bg.is--05 {
        background-color: #484748;
    }
    .bg.is--02 {
        background-color: #68746b;
        background-color: #36483a;
    }


@media only screen and (min-width: 1800px)  {
    html  {
        font-size:  70%;
    }

    .heading--xhuge  {
        font-size:  32rem;
    }

    .plate-slider__title  {
        font-size:  6vw;
    }
}

/*
html.wf-design-mode .swiper-wrapper  {
    justify-content:  left;
}
.body--bege .nav-bar,  .body--white .nav-bar  {
    border-color:  rgba(0,  0,  0,  0.25);
}
.body--bege .nav-items__item,  .body--bege .nav-logo__name,  .body--bege .nav-logo__title,  .body--white .nav-items__item,  .body--white .nav-logo__name,  .body--white .nav-logo__title  {
    color:  #212121;
}
.w--current .full-screen-nav__dot,  .w--current .nav-items__item-border  {
    display:  block;
}
.body--bege .nav-items__item-border,  .body--white .nav-items__item-border  {
    border-color:  #212121;
}
.body--bege .hamburger__line,  .body--white .hamburger__line  {
    background-color:  #212121;
}
.body--bege .full-screen-nav,  .body--white .full-screen-nav  {
    background-color:  #fff;
}
.body--bege .full-screen-nav__list-item,  .body--white .full-screen-nav__list-item  {
    color:  #212121;
}
.body--bege .full-screen-nav__dot,  .body--white .full-screen-nav__dot  {
    background-color:  #212121;
}
.body--bege .nav-bar__bg,  .body--white .nav-bar__bg  {
    background-color:  #fff;
}
@media only screen and (max-width: 991px)  {
        .body--bege .nav-items,  .body--white .nav-items  {
        background-color:  #fff;
    }
} */

/* Body */

.reservation main {
    margin-top: 70px;
}

/* Section layouts */

.three-elements-layout__grid {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    grid-template-columns: 0.5fr 1fr;
}

.three-elements-layout__grid.is--reversed {
    grid-template-columns: 1fr 0.5fr;
}

.three-elements-heading {
    grid-column: 1/3;
    max-width: 70rem;
}
.three-elements-layout__image-wrapper {
    /* position: relative; */
    z-index: -1;
    width: 100%;
    /* height: 72rem; */
    margin-top: -16rem;
}
.heading--xlarge {
    margin-bottom: 0;
    font-size: 8rem;
    font-weight: 400;
    text-transform: uppercase;
}
.small-divider {
    width: 10rem;
    height: 2px;
    margin-bottom: 2.4rem;
    background-color: var(--accent-color);
}

/* Daily menu */

ul.daily-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
}
.daily-menu li {
    display: flex;
    column-gap: 3rem;
    flex: 0 0 100%;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background-color: var(--body-dark-bg-2nd);
}
.daily-menu span.price {
    min-width: 60px;
    height: fit-content;
    position: relative;
    z-index: 1;
}
.daily-menu span.price::after {
    content: '';
    position: absolute;
    top: -0.1rem;
    left: -1.2rem;
    width: 81px;
    height: 35px;
    background-color: #912833;
    background-color: var(--accent-color-dark);
    z-index: -1;
    transform: skewX(348deg);
}

/* Two blocks card -- Not mobile optimized! */

.two-blocks {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 2;
    gap: 6rem;
}
.two-blocks h2 {
    grid-row: 1;
    grid-column: 1/3;
}
.two-blocks__card {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 300px;
    overflow: hidden;
    text-shadow: 0 0 20px black;
}
.two-blocks__card img {
    position: absolute;
    filter: brightness(0.3) grayscale(1);
    z-index: -1;
    transition-duration: 3s;
    transition-property: filter, transform;
}
.two-blocks__card:hover img {
    transform: scale(1.05);
    filter: brightness(0.4) grayscale(0);
}
.two-blocks h3 {
    font-size: clamp(2rem, -0.875rem + 8.333vw, 3.5rem);
}

footer  {
     border-top:  1px solid var(--body-dark-bg-3rd);
}
    footer .chain {
        min-height: 400px;
        max-width: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-shadow: 0 0 20px black;
        padding: 2vw;
        height: 100%;
        overflow: hidden;
    }
    .chain .backdrop {
        position: absolute;
        animation: zoom 20s infinite;
        z-index: -1;
        filter: brightness(0.5);
    }
        @keyframes zoom {
            0% {transform: scale(1.2);}
            50% {transform: scale(1.4) rotate(10deg);}
            100% {transform: scale(1.2) rotate(0);}
        }

/* .f_R  {
    width:  100%;
    height:  auto;
    display:  flex;
    justify-content:  flex-start;
    flex-direction:  column;
    align-items:  flex-start;
} */
/* .f_R a  {
    display:  flex;
    justify-content:  center;
} */
/* .s_icons  {
    display:  flex;
    width:  100%;
    height:  auto;
    align-items:  center;
    list-style:  none;
    padding:  0;
    margin:  0;
}
.s_icons li  {
    margin-right:  20px;
}
.s_icons li a  {
    color:  #fff;
    text-decoration:  none;
    font-size:  32px;
    transition:  all ease-in-out 0.3s;
}
.s_icons li a:hover  {
    color:  #212121;
    transition:  all ease-in-out 0.3s;
}
.footer_adress  {
    margin-top:  40px;
    text-decoration:  none;
    border:  1px solid #fff;
    width:  60%;
    text-align:  center;
    color:  #fff;
    display:  flex;
    padding:  5px;
    align-items:  center;
    justify-content:  center;
    transition:  all ease-in-out 0.3s;
}
.footer_adress:hover  {
    color:  #212121;
    transition:  all ease-in-out 0.3s;
    border:  1px solid #212121;
} */
/* .sticky_top  {
    position:  fixed !important;
    background:  #212121;
} */
/* .mb-0  {
    margin-bottom:  0 !important;
    display:  flex;
    justify-content:  center;
    align-items:  center;
}
.h_40  {
    min-height:  60px !important;
} */

/* .invis  {
    width: 35px;
    height: 2px;
    margin: 6px 0;
} */
/* .next_s  {
    cursor: pointer;
    transform: scale(2);
}
.prev_s  {
    cursor: pointer;
    transform: rotate(181deg) scale(2);
} */

/* .footer_pages_list  {
    padding:  0;
    margin:  0;
    list-style:  none;
}
.footer_pages_list li a  {
    text-align:  center;
    text-decoration:  none;
    color: var(--body-dark-color);
    transition:  all ease-in-out 0.3s;
} */
/* .d_center  {
    display:  flex;
    justify-content:  center !important;
    align-items:  center !important;
} */

/* .banner__ {
    width:  100%;
    height:  60vh;
    background-size:  cover;
    background-repeat:  no-repeat;
    background-position:  center;
}
.banner_overlay {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0,  0.7));
    width: 100%;
    height: 60vh;
    top: 0;
    left: 0;
    position: absolute;
    bottom: 0;
}
.banner_content {
    z-index: 12 !important;
    width: 100%;
    position: absolute;
    height: 60vh !important;
}
.banner_content {
    margin-top: 70px;
}
.banner_content h2 {
    margin-bottom: 0;
    font-size: 8rem;
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase;
}
.banner_content h2 {
    display: none;
} */
/* .modal__  {
    display: none;
}
.modal_back  {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_content {
    width: 520px;
    height: 45vh;
    background: #fff;
    box-shadow: rgba(0,  0,  0,  0.56) 0px 22px 70px 4px;
}
.modal_content h3  {
    color:  #212121;
    padding:  15px;
    font-size:  2em;
    line-height:  36px;
    text-align:  center;
    margin-top:  100px;
    font-weight:  400;
}
.modal_cose  {
    width:  100%;
    height:  auto;
    display:  flex;
    justify-content:  flex-end;
    align-items:  center;
}
.modal_cose p  {
    padding:  0px;
    margin-right:  10px;
    color:  #212121;
    cursor:  pointer;
    font-size:  22px;
}
.modal_body  {
    width:  100%;
    display:  flex;
    justify-content:  center;
    align-items:  center;
}
@media only screen and (max-width: 560px)  {
    .modal_content  {
        width:  90%;
    }
    .modal_content h3  {
        margin-top:  80px;
    }
} */



/* .m-0-p-0  {
    padding:  0px;
    margin:  0px;
} */

/* Forms */
.body--dark input,
.body--dark select,
.body--dark textarea,
form button[disabled] {
    background-color: var(--body-dark-bg-2nd);
}

form .col-md-6,
form .col-md-4 {
    padding-left: 0;
}

input, select, textarea, form button[type=submit] {
    width: 100%;
    border-bottom: 1px solid var(--body-dark-color-3rd);
    color: inherit;
    font-family: inherit;
    margin-bottom: var(--gutter);
    padding: var(--gutter);
    transition: all var(--easing) 0.6s;
    transition-property: border, filter;
}

select {
    appearance: none;
    /* height: 5rem;
    padding-top: 0.9rem; */
}
.select-container {
    position: relative;
}
.select-container span {
    position: absolute;
    right: 2rem;
    top: 4.5rem;
}

form button[type=submit] {
    background-color: var(--accent-color-dark);
    border: none;
    text-transform: uppercase;
}
form button[disabled] {
    color: var(--body-dark-color-disabled);
    background-color: #282828;
}
form button[type=submit]:not([disabled]):hover  {
    filter: brightness(1.2);
}
form button.step {
    background-color: transparent;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    /* padding: var(--gutter); */
    margin-top: var(--gutter);
}
form button.step[disabled] {
    opacity: 0.5;
}
form button.step::before,
form button.step::after {
    content: "";
    width: 50px;
    height: 20px;
    background-image: url(/assets/img/icons/arrow--green.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    display: inline-block;
}
form button.step::after {
    transform: rotate(180deg);
}

form button.step::before,
form button.step.back::after {
    display: none;
}
form button.step.back::before {
    display: inline-block;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
    outline: none;
}
input:not(.error-field):focus-visible,
select:not(.error-field):focus-visible,
textarea:not(.error-field):focus-visible {
    border-color: var(--body-dark-color)
}

.error-field {
    border-color: var(--error-color);
}

.error {
    color: var(--error-color);
    margin-bottom: 1rem;
    display: none;
  }

/* Litepicker */
.litepicker {
    font-size: initial;
}
.litepicker .container__days .day-item.is-today {
    background-color: var(--body-dark-bg-3rd);
}
.litepicker .container__days .day-item.is-locked,
.litepicker .container__days .day-item.is-locked:hover {
    color: hsl(0deg 0% 40%);
}

/* Form notifications */
.notify {
    display: flex;
    align-items: center;
    min-width: 300px;
    min-height: 8rem;
    padding: 1.5rem;
    position: fixed;
    bottom: 8rem;
    right: 2rem;
    border-radius: 5px;
    /* for animations */
    visibility: hidden;
    opacity: 0;
    transform: translateY(2rem);
    transition: all var(--easing) 0.7s;
  }
    .notify.--visible {
      visibility: visible;
      opacity:1;
      transform: translateY(0)
    }
    .notify.success {
      background-color: #E0EFCB;
    }

  .notify div {
    flex: 1 1 auto;
    color: #222;
    margin: 0 1rem;
  }
  .notify button {
    align-self: flex-start;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: transparent;
    opacity: 0.4;
  }
  .notify button svg {
    width: 2rem;
    height: 2rem;
  }



.text-center  {
    width:  100%;
    text-align:  center;
}
.flex_d_c  {
    flex-direction:  column;
}

/* Responsive styles */

@media only screen and (max-width: 991px)  {
    h1, h2, h3 {
        line-height: initial;
    }
    header {
        padding:  0px 6vw;
    }
    .logo img {
        max-width: 70px;
    }
    nav.menu {
        display: none;
    }
    .mobile-menu {
        width: 100vw;
    }
    .main-wrapper  {
        padding: 10vw 6vw;
    }
    .col-md-3 {
        padding: 0 0 8vw;
        width: 50%;
    }
    .swiper-slide.is--plate-slider {
        height: 100vh;
        max-width: 100vw;
        min-width: 100vw;
        justify-content: flex-start;
    }
    .plate-slider__content-block {
        max-width: none;
        margin-top: 16vh;
        padding-left: 2.4rem;
        align-items: flex-start;
    }
    .plate-slider__content-block.is--plate-slider {
        margin-top: 20vh;
        padding-left: 2.4rem;
    }
    .plate-slider__image-wrapper {
        position: relative;
        overflow: visible;
        /* width: 100vw; */
        margin-top: -12vh;
    }
    .plate-slider__image {
        height: auto;
        margin-top: auto;
        /* margin-bottom: 0; */
    }
    .plate-slider__btn-block {
        background-color: rgb(0 0 0 / 37%);
    }
    .plate-slider-pagination {
        right: 6vw;
        left: 6vw;
    }
    .slider_buttons_  {
        right: 6vw;
    }

    .three-elements-layout__grid,
    .three-elements-layout__grid.is--reversed {
        /* grid-auto-flow: row; */
        grid-column-gap: 4rem;
        grid-template-columns: 1fr;
        /* grid-template-rows: auto; */
    }
    /* .three-elements-layout__grid.is--reversed {
        grid-template-columns: 1fr;
    } */
    .three-elements-heading {
        grid-column: 1;
    }
    .heading--xlarge {
        font-size: 6.4rem;
    }
    .three-elements-layout__image-wrapper {
        margin-top: 0;
    }
    .is--reversed .three-elements-layout__image-wrapper {
        grid-row: 3;
    }
    .two-col-grid { /* See if any use */
        justify-items: start;
        align-items: start;
        grid-column-gap: 8rem;
        grid-row-gap: 4rem;
        grid-template-rows: auto;
    }
}
@media only screen and (max-width: 767px)  {

    h2 {
        font-size: 3rem;
        margin-bottom: 1.4rem;
    }
    .mobile-menu_list li {
        font-size: 3rem;
    }
    .col-xl-6,
    .col-md-6,
    .col-md-4,
    .col-md-3 {
        padding: 0 0 10vw;
        width: 100%;
    }
    form .col-md-6,
    form .col-md-4 {
        padding: 0;
    }
    .plate-slider__title {
        font-size: 13vw;
    }
    .plate-slider__image {
        width: 140vw;
        position: absolute;
        left: -50vw;
        top: 0;
        right: 0;
        bottom: 0;
        /* width: 130vw; */
    }
    .plate-slider__number {
        font-size: 1.6rem;
    }
    .three-elements-layout__grid {
        grid-column-gap: 2.4rem;
        grid-row-gap: 2.4rem;
    }
    .heading--large, .heading--xlarge {
        font-size: 3rem;
    }
    /* .footer_logo_img  {
        margin: 0 !important;
    }
    .footer_adress  {
        width: 100% !important;
        padding: 0 10px;
    } */
    .m_hide  {
        display: none;
    }
    .mobile-menu-show  {
        width: 100%;
    }
    /* .f_R  {
        justify-content:  center;
        align-items:  center;
    }
    .s_icons  {
        justify-content:  center;
        align-items:  center;
    }
    address p  {
        text-align:  center;
    }
    .s_icons li  {
        margin:  20px;
    } */
    .overlay  {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .is--reversed .three-elements-heading {
        justify-self: right;
    }
    ul.daily-menu {
        max-width: 50vw;
    }    
}


@media only screen and (max-width: 1670px)  {
    .slider_buttons_  {
    width: 8% !important;
}
}
@media only screen and (max-width: 1510px)  {
    .slider_buttons_  {
    width: 8% !important;
}
}
@media only screen and (max-width: 1164px)  {
    .slider_buttons_  {
    width: 10% !important;
}
}
@media only screen and (max-width: 936px)  {
    .slider_buttons_  {
    width: 12% !important;
}
}
@media only screen and (max-width: 743px)  {
    .slider_buttons_  {
    width: 14% !important;
}
}
@media only screen and (max-width: 624px)  {
    .slider_buttons_  {
    width: 17% !important;
}
}
@media only screen and (max-width: 492px)  {
    .slider_buttons_  {
    width: 22% !important;
}
}
@media only screen and (max-width: 400px)  {
    .slider_buttons_  {
    width: 27% !important;
}
}
/* .three-elements-layout__image-wrapper{
	z-index: 40 !important;
}
#w-node-_7a19be4c-ee46-9c40-5026-f66a25c78cda-1134b489{
	z-index: 50 !important;
}

#w-node-_7a19be4c-ee46-9c40-5026-f66a25c78ce9-1134b489{
	z-index: 50 !important;
} */
